body {
  background-color: #ccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  min-height: 100vh;
  margin: 30px auto;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 40px;
}

#imagem img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: black;
  padding: 2px;
  display: block;
}

h1,
h2 {
  color: #333;
  margin-top: 0;
}

h2 {
  margin-top: 30px;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
}
